body{
    font-family: 'Poppins', sans-serif;
    width: 100%;
    height: 100%;
    margin: 0;
}
h1{
    font-size: 32px;
    margin: 0;
}
p{
    margin: 10px;
}

.navig{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.7);
    color: whitesmoke;
    width: 100vw;
    position: fixed;
    z-index: 1000;
    top: 0;
}

.ball{
    height: 35px;
    width: 35px;
    margin-left: 40px;
}

.pokemon{
    margin-left: 5px;
}

li a{
    text-decoration: none;
    color: whitesmoke;
    margin-right: 40px;
}

.navig--logo{
    display: flex;
    align-items: center;
}

.list{
    list-style-type: none;
    display: flex;
    align-items: center;
}

.button{
    margin-right: 40px;
    background-color: rgba(245, 245, 245, 0.7);
    color: rgb(48,48,48);
    border-radius: 5px;
    border-style: none;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

.header{
    background-image: linear-gradient(to bottom, #fad56654, #fad56654), url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/37b99214-e613-4919-8d5f-d1bc2deaf992/dax05hn-3686e180-8ea7-4982-9aa2-7b35250f8c9e.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzM3Yjk5MjE0LWU2MTMtNDkxOS04ZDVmLWQxYmMyZGVhZjk5MlwvZGF4MDVobi0zNjg2ZTE4MC04ZWE3LTQ5ODItOWFhMi03YjM1MjUwZjhjOWUucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.IoYWJxMkg5Jxx6bBN8gOKa7r7rdN8Uqpc_AOIqZbid0);
    height: 70vh;
    background-size: cover;
    display: flex;
    display: flex;
    align-items: end;
    margin: 0;
}

.header--texto{
    margin-left: 45vw;
    margin-bottom: 15px;
    width: 40vw;
}

.header--pikachu{
    position: absolute;
    bottom: 80px;
    left: 15vw;
    height: 70vh;
}

.header--texto-boton{
    background-color: rgba(0, 0, 0, 0.7);
    color: whitesmoke;
}

.carrusel{
    background-image: linear-gradient(to top, #b7edbf00, #d4d4d4);
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.carrusel--carrusel {
    display: flex;
    width: 40vw;
    overflow: scroll;
  }
  
.carrusel--carrusel img {
    height: 30vh;
    margin: 10px;
    border-radius: 10px;
  }

.divisor--pokemon{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
  }
.divisor--pokemon img{
    width: 10vw;
}

.footer{
    display: flex;
    flex-direction: column;
    color: whitesmoke;
    justify-content: center;
    align-items: center;
    background-color: #1E1E1E;
    text-align: center;
    font-size: 12px;
}
.footer p{
    margin: 0;
}
.footer--texto{
    margin: 20px;
}
.footer--contactUs-logos{
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer--contactUs-logos img{
    width: 20px;
    margin: 10px;
    border-radius: 100%;
}
.footer--texto2{
    text-align: right;
    width: 100%;
}
